---
layout: basic
class: about
title: "About Moxon Design - For Distributors"
permalink: /about/distributors.html
meta:
  robots: "noodp, noydir, noarchive"
  description: "About Moxon Design - For Distributors"
  abstract: "About Moxon Design - For Distributors"
  keywords: "Moxon Design"
comments: false
---
{% capture standard_content %}
  <h1>
      Helping Distributors with Demand Creation...
  </h1>
  
  <h3>Moxon Design helps Distributors:</h3>
  <ul>
    <li>With stocking and kitting programs for our novel products
    <li>By providing local engineering services that understand their technology
    <li>Creating custom solutions using their components and solutions
    <li>Providing an alternative marketing channel
    <li>With new product introductions and launch campaigns
    <li>With local and internet based trainings, tutorials, and workshops
    <li>We can harness social networking to better expand your reach
  </ul>
  
  <p>
  Contact us to see how we are helping Distributors to expand their business. 
  </p>

  {% include frag/blurb.html %}

{% endcapture %}

{% include layouts/standard.html %}
