{% comment %}
footer section.
{% endcomment %}

<footer>
  <div class="row">
    <div class="col half">
      <div class="row">
        <div class="col quarter">
          <ul class="social-icons">
            <li><a href="https://twitter.com/twmoxon" title="twitter"><img src="https://moxondesign.github.io/img/logos/white/twitter.png"></a></li>
            <li><a href="https://github.com/moxondesign" title="github"><img src="https://moxondesign.github.io/img/logos/white/github.png"></a></li>
            <li><a href="http://www.linkedin.com/in/tommoxon/" title="linkedin"><img src="https://moxondesign.github.io/img/logos/white/linkedin.png"></a></li>
            <li><a href="http://pinterest.com/tommoxon/" title="pinterest"><img src="https://moxondesign.github.io/img/logos/white/pinterest.png"></a></li>
            <li><a href="https://plus.google.com/+TomMoxon" title="googleplus"><img src="https://moxondesign.github.io/img/logos/white/gplus.png"></a></li>
            <li><a href="https://www.facebook.com/twmoxon/" title="facebook"><img src="https://moxondesign.github.io/img/logos/white/facebook.png"></a></li>
          </ul>
        </div>
        <div class="col quarter">
            <h2><a href="{{site.baseurl}}{{contact.home}}">Contact</a></h2>
            <ul>
              <li><a href="{{site.baseurl}}{{contact.press}}">Press</a></li>
              <li><a href="{{site.baseurl}}{{contact.investors}}">Investors</a></li>
              <li><a href="{{site.baseurl}}{{license.home}}">Licensing</a></li>
              <li><a href="{{site.baseurl}}{{contact.credits}}">Credits</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col half">
      <div class="row">
        <div class="col quarter">
          <h2><a href="{{site.baseurl.about.home}}">About Us</a></h2>
          <ul>
            <li><a href="{{site.baseurl.about.manufacturers}}">For Manufacturers</a></li>
            <li><a href="{{site.baseurl.about.distributors}}">For Distributors</a></li>
            <li><a href="{{site.baseurl.about.representatives}}">For Representatives</a></li>
          </ul>
        </div>
        <div class="col quarter">
          <h2><a href="{{site.baseurl.policies.home}}">Policies</a></h2>
          <ul>
            <li><a href="{{site.baseurl.policies.shipping}}">Shipping</a></li>
            <li><a href="{{site.baseurl.policies.returns}}">Returns</a></li>
            <li><a href="{{site.baseurl.policies.legal.home}}">Legal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row unimportant">
    <div class="col quarter"><p>Copyright &copy; 2010-2015 Moxon Design</p></div>
  </div>
</footer>
